// Place all the styles related to the BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blog {

  @include outer-container;
  @include pad();
  text-align:center;


  .blog-post-name{
    @include span-columns(5.9);
    @include pad();
    color: #333333;

  }
  .blog-post-date{
    @include span-columns(5.9);
    @include pad();
    color: #333333;
    margin-right:0;

  }

  .blog-post-title{
    @include span-columns(12);
    @include pad();
    color: #25FF25;
  }
  .blog-post-body{
    @include span-columns(12);
    @include pad();
  }


}
